<head>
  <title>resolutions</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-10">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Resoutions</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse col-md-2" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li >  {{>loginButtons}} </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
    </nav>
    <header>
      <h1> Monthly Resolutions</h1>

      <label class="hide-finished">
        <input type="checkbox" checked="{{hideFinished}}"/>
        Hide Finished Resoutions
      </label>

      <form class="new-resolution">
        <input type="text" name="title" placeholder="A new resolution"/>
        <input type="submit"  value="Submit"/>
      </form>
    </header>
    <ul class="list-resolutions">
      {{#each resolutions }}
        {{> resolution}}
      {{/each}}
    </ul>
  </div>
</body>


