@import 'nib'

html
  box-sizing: border-box;


*, *:before, *:after {
  box-sizing: inherit;
}


body
  margin-top: 1%;
  font-family: sans-serif;
  font-size: 16px;
  background: #333;


.container {
  max-width: 90%;
  margin: 0 auto;
  min-height: 100%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
input[type="text"]{
  *:0;
}
.new-resolution input[type="text"] {
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 50%;
  height: 100%;
  padding-right: 80px;
  font-size: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.new-resolution input[type="submit"]{
  background: #333;
  color:#fff;
  border: solid 1px transparent;
  border-radius:5px;
  width:100px;
  height:35px;
  cursor: auto;
  margin-left:5px;
}

.new-resolution input:focus{
  outline: 0;
}

ul .list-resolutions{
  margin: 0;
  padding: 0;
  background: white;
}

.list-resolutions-li .delete {
  float: right;
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;;
}

.list-resolutions-li{
  position: relative;
  list-style: none;
  padding: 20px 15px;
  border-bottom: #eee solid 3px;
}

.list-resolutions-li .text {
  margin-left: 10px;
}


.list-resolutions-li .checked {
  color: #888;
  text-decoration: line-through;
}


// .hide-finished
//   float: right;
//   color: rgb(109, 132, 236);
//   font-size: 1em;
//   top:40%;
//
// .login
//   color: #03A008;
//   font-size: 1em;
//   text-decoration: none;
//   top:40px;
//   margin: auto 20% 1%;
