<template name="resolution">
    <li class="list-resolutions-li ">
      {{#if isOwner}}
      <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>
        <button class="toggle-private btn btn-sm btn-default private-btn">
          {{#if private}}
            private
          {{else}}
            public  
          {{/if}}
        </button>
      {{/if}}
      <span class="text {{#if checked}} checked {{/if}}">{{title}}</span>
      {{#if isOwner}}
      <button class="delete">Remove</button>
      {{/if}}
    </li>
</template>